{#
/**
 */
#}
<div id="poll-{{ poll.id.value }}" class="poll">
  <div class="vote-form">
    {% if show_question %}
      <h3 class="poll-question">{{ question }}</h3>
    {% endif %}

    {{ choice }}

    {{ vote }}
  </div>
  {{ rest }}
</div>
